#pogrubienie_zakrzewski {
    font-weight: bold;
    font-size: 49px;
    color: #9A5ad3;
}

#pochylona_zakrzewski {
    font-style: italic;
    font-size: 40px;
    color: #FEBE6F;
}

#index_gorny_zakrzewski {
    font-size: 1.5cm;
    color: #AE8C1F;
}

#index_dolny_zakrzewski {
    font-size: 2.5cm;
    color: rgb(30%,96%,93%);
}

#mono_zakrzewski {
    font-family: monospace;
    font-size: 45px;
    color: #2EDC83;
}

#powiekszenie_zakrzewski {
    font-size: 63px;
    color:#683CA1;
}

#pomniejszenie_zakrzewski {
    font-size: 19px;
    color: rgb(82%,64%,25%);
}